<!--Header Section-->
<div style="background-color: lightblue">
    <mat-grid-list cols="3" rowHeight="6:1">
        <mat-grid-tile>
            <img src="./assets/ui_logo.png" style="max-width: 75px; margin-top: 5px;" />
        </mat-grid-tile>
        <mat-grid-tile>
            <h2 *ngIf="currentTask?.language === Language.GERMAN">Zwischenfragebogen: {{ currentTask?.title }}</h2>
            <h2 *ngIf="currentTask?.language === Language.ENGLISH">Questionnaire: {{ currentTask?.title }}</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="clickExitStudy()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickPreviousPage()">
                {{ currentTask?.language === Language.GERMAN ? "Vorherige Seite" : "Previous Page" }}
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickNextPage()">
                {{ currentTask?.language === Language.GERMAN ? "Nächste Seite" : "Next Page" }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!--Questionnaire-->
<div style="background-color: aliceblue">
    <form>
        <mat-grid-list cols="1" rowHeight="20:1">
            <mat-grid-tile *ngIf="currentTask?.language === Language.GERMAN">
                <label>{{ question1_GERMAN }}</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="currentTask?.language === Language.GERMAN">
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Sehr einfach" id="g11" />
                <label for="g11">Sehr einfach</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Einfach" id="g12" />
                <label for="g12">Einfach</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Ok" id="g13" />
                <label for="g13">Ok</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Schwierig" id="g14" />
                <label for="g14">Schwierig</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Sehr schwierig" id="g15" />
                <label for="g15">Sehr schwierig</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="currentTask?.language === Language.ENGLISH">
                <label>{{ question1_ENGLISH }}</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="currentTask?.language === Language.ENGLISH">
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Very easy" id="e11" />
                <label for="e11">Very easy</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Easy" id="e12" />
                <label for="e12">Easy</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Ok" id="e13" />
                <label for="e13">Ok</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Difficult" id="e14" />
                <label for="e14">Difficult</label>
                <input type="radio" [(ngModel)]="formQuestion1" name="formQuestion1" value="Very difficult" id="e15" />
                <label for="e15">Very difficult</label>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>