<!--Header Section-->
<div style="background-color: lightblue">
    <mat-grid-list cols="3" rowHeight="6:1">
        <mat-grid-tile>
            <img src="./assets/ui_logo.png" style="max-width: 75px; margin-top: 5px;" />
        </mat-grid-tile>
        <mat-grid-tile>
            <h2 *ngIf="language === Language.GERMAN">Demographiefragebogen</h2>
            <h2 *ngIf="language === Language.ENGLISH">Demographic questionnaire</h2>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="warn" (click)="clickSkipTask()">
                {{ language === Language.GERMAN ? "Aufgabe überspringen" : "Skip Task" }}
            </button></mat-grid-tile
        >
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickPreviousPage()">
                {{ language === Language.GERMAN ? "Vorherige Seite" : "Previous Page" }}
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="clickNextPage()">
                {{ language === Language.GERMAN ? "Nächste Seite" : "Next Page" }}
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<!--Demographics-->
<div style="background-color: aliceblue">
    <form>
        <mat-grid-list cols="1" rowHeight="20:1">
            <!-- How much experience do you have using spreadsheets? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Wie viel Erfahrung haben Sie mit Tabellenkalkulationen?</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="sehr wenig" id="gs1" />
                <label for="gs1">sehr wenig</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="wenig" id="gs2" />
                <label for="gs2">wenig</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="etwas" id="gs3" />
                <label for="gs3">etwas</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="ziemlich viel" id="gs4" />
                <label for="gs4">ziemlich viel</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="viel" id="gs5" />
                <label for="gs5">viel</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>How much experience do you have using spreadsheets?</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="very little" id="es1" />
                <label for="es1">very little</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="a little" id="es2" />
                <label for="es2">a little</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="some" id="es3" />
                <label for="es3">some</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="quite a bit" id="es4" />
                <label for="es4">quite a bit</label>
                <input type="radio" [(ngModel)]="spreadsheetExperience" name="spreadsheetExperience" value="a lot" id="es5" />
                <label for="es5">a lot</label>
            </mat-grid-tile>

            <!-- How much experience do you have using tablets or similar large touchscreens? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Wie viel Erfahrung haben Sie mit Tablets oder ähnlichen großen Touchscreens?</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="sehr wenig" id="gt1" />
                <label for="gt1">sehr wenig</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="wenig" id="gt2" />
                <label for="gt2">wenig</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="etwas" id="gt3" />
                <label for="gt3">etwas</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="ziemlich viel" id="gt4" />
                <label for="gt4">ziemlich viel</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="viel" id="gt5" />
                <label for="gt5">viel</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>How much experience do you have using tablets or similar large touchscreens?</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="very little" id="et1" />
                <label for="et1">very little</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="a little" id="et2" />
                <label for="et2">a little</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="some" id="et3" />
                <label for="et3">some</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="quite a bit" id="et4" />
                <label for="et4">quite a bit</label>
                <input type="radio" [(ngModel)]="tabletExperience" name="tabletExperience" value="a lot" id="et5" />
                <label for="et5">a lot</label>
            </mat-grid-tile>

            <!-- How much experience do you have using a digital pen or stylus? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Wie viel Erfahrung haben Sie mit einem digitalen Stift oder Stylus?</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="sehr wenig" id="gp1" />
                <label for="gp1">sehr wenig</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="wenig" id="gp2" />
                <label for="gp2">wenig</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="etwas" id="gp3" />
                <label for="gp3">etwas</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="ziemlich viel" id="gp4" />
                <label for="gp4">ziemlich viel</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="viel" id="gp5" />
                <label for="gp5">viel</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>How much experience do you have using a digital pen or stylus?</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="very little" id="ep1" />
                <label for="ep1">very little</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="a little" id="ep2" />
                <label for="ep2">a little</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="some" id="ep3" />
                <label for="ep3">some</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="quite a bit" id="ep4" />
                <label for="ep4">quite a bit</label>
                <input type="radio" [(ngModel)]="stylusExperience" name="stylusExperience" value="a lot" id="ep5" />
                <label for="ep5">a lot</label>
            </mat-grid-tile>

            <!-- Which hand do you use to write? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Welche Hand benutzen Sie zum Schreiben?</label>
                <input type="radio" [(ngModel)]="writingHand" name="writingHand" value="links" id="gw1" />
                <label for="gw1">links</label>
                <input type="radio" [(ngModel)]="writingHand" name="writingHand" value="rechts" id="gw2" />
                <label for="gw2">rechts</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>Which hand do you use to write?</label>
                <input type="radio" [(ngModel)]="writingHand" name="writingHand" value="left" id="ew1" />
                <label for="ew1">left</label>
                <input type="radio" [(ngModel)]="writingHand" name="writingHand" value="right" id="ew2" />
                <label for="ew2">right</label>
            </mat-grid-tile>

            <!-- What is the direction of your native language's script? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Was ist die Schreibrichtung Ihrer Muttersprache?</label>
                <input type="radio" [(ngModel)]="scriptDirection" name="scriptDirection" value="von links nach rechts" id="gd1" />
                <label for="gd1">von links nach rechts</label>
                <input type="radio" [(ngModel)]="scriptDirection" name="scriptDirection" value="von rechts nach links" id="gd2" />
                <label for="gd2">von rechts nach links</label>
                <input type="radio" [(ngModel)]="scriptDirection" name="scriptDirection" value="von oben nach unten" id="gd3" />
                <label for="gd3">von oben nach unten</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>What is the direction of your native language's script?</label>
                <input type="radio" [(ngModel)]="scriptDirection" name="scriptDirection" value="left-to-right" id="ed1" />
                <label for="ed1">left-to-right</label>
                <input type="radio" [(ngModel)]="scriptDirection" name="scriptDirection" value="right-to-left" id="ed2" />
                <label for="ed2">right-to-left</label>
                <input type="radio" [(ngModel)]="scriptDirection" name="scriptDirection" value="top-to-bottom" id="ed3" />
                <label for="ed3">top-to-bottom</label>
            </mat-grid-tile>

            <!-- What is your age group? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Zu welcher Altersgruppe gehören Sie?</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="18-24" id="ga1" />
                <label for="ga1">18-24</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="25-34" id="ga2" />
                <label for="ga2">25-34</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="35-44" id="ga3" />
                <label for="ga3">35-44</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="45-54" id="ga4" />
                <label for="ga4">45-54</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="55-64" id="ga5" />
                <label for="ga5">55-64</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="65+" id="ga6" />
                <label for="ga6">65+</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="Keine Angabe" id="ga7" />
                <label for="ga7">Keine Angabe</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>What is your age group?</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="18-24" id="ea1" />
                <label for="ea1">18-24</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="25-34" id="ea2" />
                <label for="ea2">25-34</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="35-44" id="ea3" />
                <label for="ea3">35-44</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="45-54" id="ea4" />
                <label for="ea4">45-54</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="55-64" id="ea5" />
                <label for="ea5">55-64</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="65+" id="ea6" />
                <label for="ea6">65+</label>
                <input type="radio" [(ngModel)]="ageGroup" name="ageGroup" value="prefer not to say" id="ea7" />
                <label for="ea7">prefer not to say</label>
            </mat-grid-tile>

            <!-- What is your gender? -->
            <mat-grid-tile *ngIf="language === Language.GERMAN">
                <label>Geschlecht:</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="weiblich" id="gg1" />
                <label for="gg1">weiblich</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="männlich" id="gg2" />
                <label for="gg2">männlich</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="non-binär" id="gg3" />
                <label for="gg3">non-binär</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="Keine Angabe" id="gg4" />
                <label for="gg4">Keine Angabe</label>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="language === Language.ENGLISH">
                <label>What is your gender?</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="female" id="eg1" />
                <label for="eg1">female</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="male" id="eg2" />
                <label for="eg2">male</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="non-binary" id="eg3" />
                <label for="eg3">non-binary</label>
                <input type="radio" [(ngModel)]="gender" name="gender" value="prefer not to say" id="eg4" />
                <label for="eg4">prefer not to say</label>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>